/* Root variables  */
:root {
  --color-block-1: #7b93db;
  --color-block-2: #4c63b6;
  --color-block-3: #2d3a8c;
  --color-block-4: #ef4e4e;

  --color-text-light: #f5f7fa;
  --color-text-dark: #3e4c59;

  --color-back: #f5f7fa;
}

html {
  box-sizing: border-box;
}

/* CSS Resets */
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
div,
span,
h1,
h2,
h3,
h4,
aside,
p,
main,
nav,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: var(--color-text-dark);
  background-color: var(--color-back);
}
h2,
h3,
h4 {
  font-weight: 300;
}
.container {
  padding: 25px;
  width: 100%;
}
.container > div {
  background-color: #616e7c;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 1.5em;
  box-shadow: 2px 2px 2px 2px hsla(0, 0%, 75%, 0.2);
}

/* General Desktop styles */
.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 175px 75px 175px 275px;
  gap: 25px;
}

#a {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #ffffff;
  color: #3e4c59;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
#a img {
  max-width: 100%;
}
#a figcaption {
  padding: 5px 10px;
  font-size: larger;
}
#b {
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url("images/b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: larger;
  display: flex;
  justify-content: baseline;
  align-items: end;
}
#c {
  grid-column-start: 5;
  grid-column-end: 7;
  background-image: url("images/c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: larger;
  display: flex;
  justify-content: baseline;
  align-items: end;
}
#d {
  grid-column-start: 7;
  grid-column-end: 9;
  background-color: #2b3c8b;
  display: flex;
  justify-content: center;
  align-items: center;
}
#d button {
  background-color: #f04f4f;
  color: #ffffff;
  padding: 10px;
  border: none;
}
#e {
  background-image: url("images/e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#f {
  background-image: url("images/f.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#g {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #ffffff;
  color: #3e4c59;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
#g img {
  max-width: 100%;
}
#g figcaption {
  padding: 0 10px;
  font-size: larger;
}
#g p {
  padding: 0 10px;
}
#h {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url("images/h.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: xx-large;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: flex;
  justify-content: baseline;
  align-items: end;
}
#i {
  background-color: #8093ca;
  display: flex;
  justify-content: center;
  align-items: center;
}
#j {
  background-color: #4e64ae;
  display: flex;
  justify-content: center;
  align-items: center;
}
#k {
  grid-column-start: 9;
  grid-column-end: 11;
  background-color: #2b3c8b;
  display: flex;
  justify-content: center;
  align-items: center;
}
#k button {
  background-color: #f04f4f;
  color: #ffffff;
  padding: 10px;
  border: none;
}
#l {
  grid-column-start: 7;
  grid-column-end: 9;
  background-image: url("images/l.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: larger;
  display: flex;
  justify-content: baseline;
  align-items: end;
}
#m {
  grid-column-start: 9;
  grid-column-end: 11;
  background-image: url("images/m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: larger;
  display: flex;
  justify-content: baseline;
  align-items: end;
}
#n {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #ffffff;
  color: #3e4c59;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
#n img {
  max-width: 100%;
}
#n figcaption {
  padding: 0 10px;
  font-size: larger;
}
#n p {
  padding: 0 10px;
}
#o {
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url("images/o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: larger;
  display: flex;
  justify-content: baseline;
  align-items: end;
}
#p {
  grid-column-start: 5;
  grid-column-end: 7;
  background-image: url("images/p.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: larger;
  display: flex;
  justify-content: baseline;
  align-items: end;
}
#q {
  grid-column-start: 7;
  grid-column-end: 11;
  background-color: #ffffff;
  color: #3e4c59;
  padding: 0;
  display: flex;
  gap: 10px;
}
#q img {
  max-height: 100%;
}
#q #caption {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#q figcaption {
  font-size: larger;
}

/* Mobile portrait styles */
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  #a,
  #b,
  #c,
  #d,
  #g,
  #h,
  #k,
  #l,
  #m,
  #n,
  #o,
  #p,
  #q {
    grid-column: auto;
    grid-row: auto;
  }
  #b,
  #c,
  #d,
  #e,
  #f,
  #l,
  #m,
  #o,
  #p {
    height: 150px;
    background-position: top;
  }
  #a,
  #g,
  #n {
    padding-bottom: 20px;
  }
  #q {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    min-height: 200px;
  }
  #q #caption {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #q img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  body {
    font-size: 0.9em;
  }
}
